@model YummyProject.Models.PhotoGallery

@{
    ViewBag.Title = "UpdatePhoto";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.PhotoGalleryId)

    <div class="mb-3">
        <label>Aktif Resim</label><br />
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Aktif Resim" style="width: 200px; height: auto; border: 1px solid #ccc; padding: 4px;" />
        }
        else
        {
            <p><em>Henüz bir resim eklenmemiş.</em></p>
        }
    </div>

    <div class="mb-3">
        <label>Yeni Resim Yükle</label>
        <input type="file" name="ImageFile" class="form-control" />
    </div>

    <button class="btn btn-success">Güncelle</button>
</form>

